<div ng-controller="Deploy.AddHost.Ctrl" ng-container="{}">
   <div style="border-bottom:1px solid #eee;" step-chart="stepList"></div>
   <div style="padding:10px 15px;" ng-container="{offsetY:-70}">

      <div ng-container="{offsetY:-45}">
         <div class="pull-left" ng-container="{width:400}">

            <div style="height:30px;font-size:110%;font-weight:bold;">{{autoLanguage("主机列表")}}</div>

            <div class="borderBox" style="padding:10px;" ng-container="{offsetY:-30}">
               
               <div style="height:40px;">
                  <div class="pull-left" style="height:33px;width:28px;padding-top:7px;"><i class="fa fa-search"></i></div>
                  <div class="pull-left" style="height:40px;width:350px;">
                     <input class="form-control" ng-model="Search.text" ng-change="Filter()"/>
                  </div>
                  <div class="clear-float"></div>
               </div>

               <div class="borderBox" style="overflow-y:auto;" ng-container="{maxHeight:'100%',offsetY:-40}">

                  <div style="height:55px;border-top:1px solid #fff;cursor:pointer;" ng-repeat="HostInfo in HostList['HostInfo'] track by $index" ng-style="{true:{'border-top':'1px solid #E3E7E8'}}[$index>0]">

                     <div style="height:47px;margin:1px;border:3px solid #fff;" ng-if="HostDataList[$index]['CanUse'] != false" ng-style="{true:{'border-color':'#80c0ff'},false:{'border-color':'#fff'}}[CurrentHost==$index]">

                        <table class="table" style="margin-top:5px;">
                           <tr>
                              <td style="padding-left:10px;width:30px;">
                                 <div style="font-size:130%;cursor:pointer;">
                                    <i class="fa" ng-click="CheckedHost($index)" ng-class="{true:'fa-check-square-o',false:'fa-square-o','undefined':'fa-square-o'}[HostDataList[$index]['IsUse']]"></i>
                                 </div>
                              </td>
                              <td ng-click="SwitchHost($index)">
                                 <div class="Ellipsis">
                                    <span ng-style="{'true':{'background':'#ffffab'},'false':{'background':'#fff'}}[HostInfo['IsHostName']==true]">
                                       {{HostInfo['HostName']}}
                                    </span>
                                 </div>
                                 <div class="Ellipsis" style="font-size:90%;color:#888;padding-top:3px;">
                                    <span ng-style="{'true':{'background':'#ffffab'},'false':{'background':'#fff'}}[HostInfo['IsIP']==true]">
                                       {{HostInfo['IP']}}
                                    </span>
                                 </div>
                              </td>
                              <td style="padding:0 10px;width:60px;text-align:right;" ng-click="SwitchHost($index)">
                                 <span class="badge badge-warning" ng-if="HostDataList[$index]['CanNotUseNum']>0" data-desc="{{HostDataList[$index]['DiskWarning']}}">{{HostDataList[$index]['CanNotUseNum']}}</span>
                              </td>
                           </tr>
                        </table>

                     </div>

                     <div style="height:47px;margin:1px;border:3px solid;background:#eee;" ng-if="HostDataList[$index]['CanUse'] == false" ng-style="{true:{'border-color':'#80c0ff'},false:{'border-color':'#eee'}}[CurrentHost==$index]">

                        <table class="table" style="margin-top:5px;">
                           <tr>
                              <td style="padding-left:10px;width:30px;">
                                 <div style="font-size:130%;">
                                    <i class="fa" ng-class="{true:'fa-check-square-o',false:'fa-square-o','undefined':'fa-square-o'}[HostDataList[$index]['IsUse']]"></i>
                                 </div>
                              </td>
                              <td ng-click="SwitchHost($index)">
                                 <div class="Ellipsis">
                                    <span ng-style="{'true':{'background':'#ffffab'},'false':{'background':'#eee'}}[HostInfo['IsHostName']==true]">
                                       {{HostInfo['HostName']}}
                                    </span>
                                 </div>
                                 <div class="Ellipsis" style="font-size:90%;color:#888;padding-top:3px;">
                                    <span ng-style="{'true':{'background':'#ffffab'},'false':{'background':'#eee'}}[HostInfo['IsIP']==true]">
                                       {{HostInfo['IP']}}
                                    </span>
                                 </div>
                              </td>
                              <td style="padding:0 10px;width:60px;text-align:right;" ng-click="SwitchHost($index)">
                                 <span class="badge badge-danger" ng-if="HostDataList[$index]['errno'] != 0" data-desc="{{HostDataList[$index]['detail']}}">
                                    {{autoLanguage("错误")}}
                                 </span>
                                 <span class="badge badge-info" ng-if="HostDataList[$index]['IsUseNum'] == 0" data-desc="{{autoLanguage('至少选择一个磁盘，主机才可以安装业务。')}}">
                                    {{autoLanguage("提示")}}
                                 </span>
                              </td>
                           </tr>
                        </table>

                     </div>

                  </div>

               </div>

            </div>

         </div>
         <div class="pull-left" ng-container="{offsetX:-410,marginLeft:10}">

            <div style="height:30px;font-size:110%;font-weight:bold;">{{autoLanguage("主机配置")}}</div>

            <div class="borderBox" style="padding:10px;overflow-y:auto;overflow-x:hidden;" ng-container="{offsetY:-30}">

               <div style="height:25px;">{{autoLanguage("系统信息")}}</div>
               <div>
                  <table class="table loosen simple" style="color:#666;font-size:90%;">
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("主机名")}}</td>
                        <td>{{HostDataList[CurrentHost]['HostName']}}</td>
                     </tr>
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("IP地址")}}</td>
                        <td>{{HostDataList[CurrentHost]['IP']}}</td>
                     </tr>
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("操作系统")}}</td>
                        <td>
                           {{HostDataList[CurrentHost]['OS']['Description']}} <span ng-if="HostDataList[CurrentHost]['OS']['Bit']">x{{HostDataList[CurrentHost]['OS']['Bit']}}</span>
                        </td>
                     </tr>
                     <tr ng-if="HostDataList[CurrentHost]['Safety']['Name'].length > 0">
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("防火墙")}}</td>
                        <td>
                           {{HostDataList[CurrentHost]['Safety']['Name']}} {{HostDataList[CurrentHost]['Safety']['IsRunning']}}
                        </td>
                     </tr>
                  </table>
               </div>

               <div style="height:25px;margin-top:20px;">{{autoLanguage("SAC代理")}}</div>
               <div>
                  <table class="table loosen simple" style="color:#666;font-size:90%;">
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("版本")}}</td>
                        <td>{{HostDataList[CurrentHost]['OMA']['Version']}}</td>
                     </tr>
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("编译版本")}}</td>
                        <td>{{HostDataList[CurrentHost]['OMA']['Release']}}</td>
                     </tr>
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("用户")}}</td>
                        <td>{{HostDataList[CurrentHost]['OMA']['SdbUser']}}</td>
                     </tr>
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("服务名")}}</td>
                        <td>{{HostDataList[CurrentHost]['OMA']['Service']}}</td>
                     </tr>
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("安装路径")}}</td>
                        <td>
                           <span ng-if="HostDataList[CurrentHost]['OMA']['Path'].length > 0">
                              {{HostDataList[CurrentHost]['InstallPath']}}
                           </span>
                           <div ng-if="HostDataList[CurrentHost]['OMA']['Path'].length == 0">
                              <input class="form-control" ng-model="HostDataList[CurrentHost]['InstallPath']" />
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>

               <div style="height:25px;margin-top:20px;">{{autoLanguage("硬件配置")}}</div>
               <div>
                  <table class="table loosen simple" style="color:#666;font-size:90%;">
                     <tr>
                        <td style="width:120px;font-weight:bold;">CPU</td>
                        <td>{{HostDataList[CurrentHost]['CPU'][0]['Model']}}</td>
                     </tr>
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("内存")}}</td>
                        <td><div progress-bar="MemoryChart"></div></td>
                     </tr>
                     <tr>
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("存储容量")}}</td>
                        <td><div progress-bar="DiskChart"></div></td>
                     </tr>
                     <tr ng-repeat="net in HostDataList[CurrentHost]['Net'] track by $index">
                        <td style="width:120px;font-weight:bold;">{{autoLanguage("网络适配器")}}</td>
                        <td>{{net['Name']}}&nbsp;&nbsp;{{net['IP']}}</td>
                     </tr>
                  </table>
               </div>

               <div style="height:25px;margin-top:20px;">{{autoLanguage("磁盘列表")}}&nbsp;<button class="btn btn-primary" ng-if="HostDataList[CurrentHost]['errno'] == 0" ng-click="CreateAddCustomPathModel()">{{autoLanguage("添加自定义路径")}}</button></div>
               <div class="Grid" style="border-bottom:1px solid #E3E7E8;max-height:200px;margin-top:5px;*position:relative;" ng-grid="HostDiskGrid">
                  <div class="GridHeader">
                     <div class="GridTr">
                        <div class="GridTd Ellipsis"></div>
                        <div class="GridTd Ellipsis">{{autoLanguage("磁盘")}}</div>
                        <div class="GridTd Ellipsis">{{autoLanguage("挂载路径")}}</div>
                        <div class="GridTd Ellipsis">{{autoLanguage("本地磁盘")}}</div>
                        <div class="GridTd Ellipsis">{{autoLanguage("容量")}}</div>
                        <div class="clear-float"></div>
                     </div>
                  </div>
                  <div class="GridBody">
                     <div class="GridTr" ng-repeat="diskInfo in HostDiskList track by $index">
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           <input type="checkbox" ng-model="diskInfo['IsUse']" ng-disabled="diskInfo['CanUse']==false" ng-click="CountCheckedDisk()" />
                        </div>
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           {{diskInfo['Name']}}
                        </div>
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           {{diskInfo['Mount']}}
                        </div>
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           {{diskInfo['IsLocal']}}
                        </div>
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           <div progress-bar="diskInfo['Chart']" class="ng-scope ng-isolate-scope"></div>
                        </div>
                        <div class="clear-float"></div>
                     </div>
                  </div>
               </div>

               <div style="height:25px;margin-top:20px;" ng-if="HostPortList.length > 0">{{autoLanguage("端口")}}</div>
               <div class="Grid" style="border-bottom:1px solid #E3E7E8;max-height:200px;" ng-grid="HostPortGrid" ng-if="HostPortList.length > 0">
                  <div class="GridHeader">
                     <div class="GridTr">
                        <div class="GridTd Ellipsis">{{autoLanguage("端口")}}</div>
                        <div class="GridTd Ellipsis">{{autoLanguage("状态")}}</div>
                        <div class="clear-float"></div>
                     </div>
                  </div>
                  <div class="GridBody">
                     <div class="GridTr" ng-repeat="portInfo in HostPortList track by $index">
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           {{portInfo['Port']}}
                        </div>
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           {{portInfo['CanUse']}}
                        </div>
                        <div class="clear-float"></div>
                     </div>
                  </div>
               </div>

               <div style="height:25px;margin-top:20px;" ng-if="HostServiceList.length > 0">{{autoLanguage("服务")}}</div>
               <div class="Grid" style="border-bottom:1px solid #E3E7E8;max-height:200px;" ng-grid="HostServiceGrid" ng-if="HostServiceList.length > 0">
                  <div class="GridHeader">
                     <div class="GridTr">
                        <div class="GridTd Ellipsis">{{autoLanguage("服务名")}}</div>
                        <div class="GridTd Ellipsis">{{autoLanguage("状态")}}</div>
                        <div class="GridTd Ellipsis">{{autoLanguage("版本")}}</div>
                        <div class="clear-float"></div>
                     </div>
                  </div>
                  <div class="GridBody">
                     <div class="GridTr" ng-repeat="serviceInfo in HostServiceList track by $index">
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           {{serviceInfo['Name']}}
                        </div>
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           {{serviceInfo['IsRunning']}}
                        </div>
                        <div class="GridTd Ellipsis" style="word-break:break-all;">
                           {{serviceInfo['Version']}}
                        </div>
                        <div class="clear-float"></div>
                     </div>
                  </div>
               </div>

            </div>

         </div>
         <div class="clear-float"></div>
      </div>

      <div style="text-align:center;" ng-container="{height:30,marginTop:20}">
         <button class="btn btn-default" ng-click="GotoScanHost()"><i class="fa fa-chevron-left"></i> {{autoLanguage("上一步")}}</button>
         &nbsp;&nbsp;&nbsp;
         <button class="btn" ng-class="{'true':'btn-primary','false':'btn-danger'}[CheckedHostNum>0]" ng-click="GotoInstall()">{{autoLanguage("下一步")}} <i class="fa fa-chevron-right"></i></button>
      </div>

   </div>
   
</div>
